:root {
    /* Paleta de Colores */
    --Color-Primario: #3FD0D4;
    --Color-Primario-Fuerte: #22AEB3;
    --Color-Texto-Navegacion: #5F5F5F;

    /* Colores de texto */
    --Color-Titulos: #212121;
    --Color-Texto-Principal: #505050;
    --Color-Texto-Secundario: #777777;
    --Color-Texto-Claro: #FFFFFF;

    /* Fondos */
    --Color-Fondo-Blanco: #FFFFFF;
    --Color-Fondo-Claro: #F7F2EC;
    --Color-Primario-Suave: #EEFAFA;
    --Color-Primario-Oscuro: #505050;
    --Color-Footer: #272727;

    /* Bordes */
    --Color-Bordes: #E8E8E8;
    --Color-Bordes-Oscuro: #DDDDDD;

    /* Tipografias */
    --fuente1: "Poppins", sans-serif;
    --fuente2: "Satisfy", cursive;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fuente1);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.4px;
}

html {
    scroll-behavior: smooth;
}

h2 {
    font-size: 57px;
    font-family: var(--fuente1);
    font-weight: 400;
}

h3 {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
}

.padding-xs {
    padding: 1rem;
}

.padding-xl {
    padding: 2rem;
}

.container {
    max-width: 70%;
    margin: auto;
}

.img-fluid {
    width: 100%;
    height: auto;
}

.logo-ancho {
    width: 200px;
}

/* Selectores ID */
#cabecera {
    position: sticky;
    top: 0;
    background-color: var(--Color-Fondo-Blanco);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    z-index: 1000;
}

#banner {
    position: relative;
    width: 100%;
    min-height: 600px;
    /* Evita que el banner se haga muy bajito */
    height: 85vh;
    /* Ocupa el 85% del alto de la pantalla */
    overflow: hidden;
}

#banner span {
    color: var(--Color-Primario);
    font-weight: 400;
}

#banner img {
    display: block;
    width: 100%;
    height: 100%;
}

#destinos {
    background-color: var(--Color-Texto-Claro);
    padding-top: 100px;
    padding-bottom: 100px;
}

#destinos p {
    font-size: 11px;
    color: var(--Color-Texto-Secundario);
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 1.5;
    letter-spacing: 1.1px;
}

#destinos h3 {
    padding-top: 10px;
    font-weight: 400;
    font-size: 18px;
}

#destinos a {
    display: inline-block;
    text-decoration: underline;
    text-underline-offset: 10px;
    color: var(--Color-Titulos);
    padding: 20px 0px;
    font-size: 12px;
    font-weight: 600;

}

#datos {
    background-color: var(--Color-Primario-Oscuro);
}

#datos strong {
    font-size: 36px;
    color: var(--Color-Primario);
}

#datos span {
    color: var(--Color-Texto-Claro);
    text-transform: uppercase;
    font-size: 8px;
    font-weight: 300;
}

#nosotros {
    background-color: var(--Color-Fondo-Claro);
    padding: 100px 60px;
}

#nosotros strong {
    font-size: 35px;
}

#servicios {}

#paquetes {}

#testimonios {}

#equipo {}

#informacion {
    background-color: var(--Color-Texto-Principal);
}


#pie {
    background-color: var(--Color-Footer);
    color: var(--Color-Texto-Navegacion);
}

/* Selectores Class */

/* Cabecera */

.btn-nav-bar {
    background-color: var(--Color-Primario);
    color: var(--Color-Fondo-Blanco);
    padding: 14px 20px;
    text-decoration: none;
    gap: 50%;
    font-size: 12px;
    transition: 0.4s ease-in-out;
}

.btn-nav-bar:hover {
    background-color: var(--Color-Primario-Fuerte);
}

.btn-nav-bar i {
    padding-inline: 14px;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    font-family: var(--fuente1);
    font-size: 14px;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.nav-menu a {
    color: var(--Color-Texto-Navegacion);
    text-decoration: none;
    font-weight: 600;
    position: relative;
}

.nav-menu a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--Color-Primario);
    transition: 0.3s ease-in-out;
}

.nav-menu a:hover::after {
    width: 100%;
}

/* Banner */


.txt-banner {
    font-family: var(--fuente1);
    position: absolute;
    top: 20%;
    left: 8%;
    width: 30%;
    max-width: 520px;
    z-index: 2;
}

.txt-banner em {
    font-family: var(--fuente2);
    color: #3FD0D4;
}

.txt-banner h1 {
    font-size: 90px;
    color: var(--Color-Texto-Claro);
    font-weight: 400;
    line-height: 1.05;
    padding-bottom: 30px;
}

.txt-banner p {
    color: var(--Color-Texto-Claro);
    font-weight: 300;
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.banner-btn {
    display: flex;
    gap: 30px;
    font-size: 14px;
}

.banner-btn a {
    color: var(--Color-Texto-Claro);
    display: inline-block;
    align-items: center;
    gap: 10px;
}

.banner-btn1 {
    text-decoration: none;
    background-color: var(--Color-Primario);
    padding: 10px 20px;
}

.banner-btn2 {
    text-decoration: none;
    padding: 9px 20px;
    text-underline-offset: 10px;
    font-size: 16px;
}

.banner-btn2 small {
    text-decoration: underline;
}

.tj-banner {
    position: absolute;
    background-color: var(--Color-Fondo-Blanco);
    bottom: 0px;
    right: 18%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.tj-banner span {
    position: absolute;
    left: 15px;
    top: 6px;

}

.calificacion {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.calificacion strong {
    font-size: 40px;
}

.calificacion p {
    font-size: 10px;
    color: var(--Color-Texto-Secundario);
}

/* Destinos */

.tarjetas-destinos-flex {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
}

.tarjetas-destinos-flex article {
    width: 300px;
}

.destinos-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

.destinos-flex span {
    color: var(--Color-Primario);
}

.titulo {
    font-weight: 500;
}

.subtitulo {
    font-family: var(--fuente1);
    color: var(--Color-Texto-Navegacion);
    font-size: 15px;
}

.tarjeta {
    position: relative;
    width: fit-content;
}

.tarjeta img {
    display: block;
    /* Elimina el pequeño espacio fantasma debajo de la imagen */
    width: 100%;
}

.tarjeta-txt {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: var(--Color-Primario);
    color: var(--Color-Texto-Claro);
    padding: 5px;
    font-size: 11px;
}

/* Datos */

.datos-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.dato {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-right: 0.5px solid var(--Color-Texto-Secundario);
    padding-right: 80px;
    margin-right: 70px;
}

.dato1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

/* Nosotros  */

.nosotros-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.nosotros-flex div {
    flex: 1;
}

.nosotros-photo {
    position: relative;
    width: fit-content;
}

.nosotros-photo img {
    display: block;

}

.nosotros-txt {
    position: absolute;
    top: 60px;
    right: 30px;
    background-color: var(--Color-Primario);
    color: var(--Color-Titulos);
    padding: 18px 16px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.nosotros-txt span {
    font-size: 10px;
    letter-spacing: 1px;
}

.leyenda {
    display: flex;
    flex-direction: column;
    align-items: normal;
    gap: 20px;
}

.leyenda span {
    color: var(--Color-Primario);
    font-size: 14px;
    font-weight: 550;
}

.leyenda-sub1 {
    font-size: 20px;
    font-weight: 500;
}

.leyenda-sub2 {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.1px;
    color: var(--Color-Texto-Secundario);
    border-bottom: 1px solid #747474;
    padding-bottom: 30px;
}

.leyenda a {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    background-color: var(--Color-Titulos);
    color: var(--Color-Texto-Claro);
    padding: 15px 30px;
    margin-top: 20px;
    align-self: flex-start;
}

.etiqueta-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 11px;
    font-weight: 500;
}


/* Servicios */




.informacion-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-top: 60px;
    padding-bottom: 60px;
}








.logo-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.info-titulo {
    padding-top: 30px;
    padding-bottom: 30px;
}

.info-titulo h2 {
    color: var(--Color-Fondo-Blanco);
}

.info-titulo p {
    color: var(--Color-Texto-Navegacion);
}

.info-form {
    background-color: var(--Color-Fondo-Blanco);
}



/* Footer */

.footer-flex1 img {
    width: 200px;
}

.col-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.slogan {
    color: var(--Color-Fondo-Blanco);
    font-size: 17px;
    font-weight: 500;
}

.linea {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    width: 100%;
    margin: 16px auto 12px auto;
}

.footer-flex2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


}

.footer-flex2 p {
    font-size: 13px;
    margin: 0;
}

.footer-flex1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.footer-flex1 a {
    text-decoration: none;
    color: var(--Color-Texto-Navegacion);
    font-weight: 500;
    transition: all 0.4s ease-in-out;
}

.footer-flex1 a:hover {
    color: var(--Color-Primario-Suave);
}